.min-w-100 {
  min-width: 100px;
}

.min-w-115 {
  min-width: 115px;
}

.min-w-140 {
  min-width: 140px;
}

.fs-1 {
  font-size: 1px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-35 {
  font-size: 35px;
}

.fs-38 {
  font-size: 38px;
}

.fs-120 {
  font-size: 120px;
}

.fs-180 {
  font-size: 180px;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before {
  content: "";
}
blockquote::after,
q::after {
  content: "";
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

body {
  font-family: "Lexend";
  background-color: #ffffff;
  touch-action: manipulation;
  letter-spacing: normal;
  line-height: 1.5;
}

body,
a,
p,
button,
h1,
h2,
h3,
h5,
h4,
h6,
p {
  font-family: "Lexend";
  line-height: 1.5;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1-2 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  color: #ef4a4f;
}

.font-bold {
  font-weight: 700;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-medium {
  font-weight: 500;
}

p,
a {
  font-size: 14px;
  line-height: 2;
}
@media (max-width: 575px) {
  p,
a {
    font-size: 12px;
  }
}

.font-extra-small {
  font-size: 12px;
}

.font-medium {
  font-size: 16px;
}
@media (max-width: 991px) {
  .font-medium {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .font-medium {
    font-size: 12px;
  }
}

.font-normal {
  font-size: 18px;
}
@media (max-width: 991px) {
  .font-normal {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .font-normal {
    font-size: 14px;
  }
}

.font-extra-large {
  font-size: 60px;
}
@media (max-width: 991px) {
  .font-extra-large {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .font-extra-large {
    font-size: 30px;
  }
}

.custom-header {
  background-color: transparent;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.custom-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #283a4f;
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .custom-header .font-medium {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .custom-header {
    background-color: #ffffff;
  }
}
.custom-header.sticky {
  background-color: #ffffff;
  position: fixed !important;
  box-shadow: -1px 4px 5px 1px rgba(20, 14, 20, 0.11);
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.custom-header .navbar-brand {
  position: relative;
}
.custom-header .navbar-brand img {
  max-width: 100%;
  width: 25%;
}
@media (max-width: 575px) {
  .custom-header .navbar-brand img {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .custom-header .navbar-brand {
    width: 50%;
  }
}
.custom-header .blue-btn {
  min-width: 115px;
}
.custom-header .profile-img {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.custom-header .dropdown-item.disabled {
  background-color: #283a4f55;
  color: #283a4f !important;
}
.custom-header .dropdown-toggle::before {
  color: #283a4f;
}
.custom-header .dropdown-toggle::after {
  display: none;
  content: "";
  height: 10px;
  width: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none !important;
  vertical-align: 0;
  font-size: 14px !important;
}
.custom-header .dropdown-menu {
  padding: 0;
  border-radius: 0;
}
.custom-header .nav-dropdown-link {
  padding: 10px 15px;
  display: block;
  border: none !important;
  border-left: 3px solid transparent !important;
}
.custom-header .nav-dropdown-link:hover {
  color: #000000;
  border-left: 3px solid #000000 !important;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 991px) {
  .custom-header .nav.navbar-nav.login-nav {
    flex-direction: unset;
    justify-content: center;
  }
}

.navbar-expand-lg .nav-item .navbar-nav-link {
  color: #000000 !important;
}
@media (max-width: 1200px) {
  .navbar-expand-lg .nav-item {
    margin-right: 10px;
  }
  .navbar-expand-lg .nav-item .navbar-nav-link {
    font-size: 14px;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding: 2px 2px;
  border: 1px solid #888888;
  z-index: 1;
}
.navbar-expand-lg .navbar-nav .dropdown-menu::after {
  content: "";
  height: 10px;
  width: 10px;
  border: 1px solid #888888;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -5px;
  left: 15px;
  transform: rotate(45deg);
  background-color: #ffffff;
  z-index: 2;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu::after {
    top: 26px;
  }
}
@media (max-width: 575px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu::after {
    top: 24px;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item {
  transition: all 0.3s ease;
  z-index: 3;
  position: relative;
  color: #000000;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover {
  color: #ffffff;
  background-color: #283a4f;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item-link {
  padding: 0.25rem 1rem;
}

.cutom-footer {
  background-color: #283a4f;
  color: #fff;
}
.cutom-footer img {
  max-width: 30%;
  margin: 0 auto;
}

.hamburger {
  background-color: transparent;
  border: none !important;
}
.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: #283a4f;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 575px) {
  .hamburger .line {
    height: 2px;
    width: 30px;
  }
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger.open .line:nth-child(1) {
  -webkit-transform: translateY(3px) rotate(45deg);
  -ms-transform: translateY(3px) rotate(45deg);
  -o-transform: translateY(3px) rotate(45deg);
  transform: translateY(3px) rotate(45deg);
}
.hamburger.open .line:nth-child(2) {
  opacity: 0;
}
.hamburger.open .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

@media (max-width: 991px) {
  .navbar-collapse.show {
    background-color: #fff;
    height: calc(100vh - 86px);
  }
}
@media (max-width: 575px) {
  .navbar-collapse.show {
    height: calc(100vh - 57.31px);
  }
}

.main {
  min-height: calc(100vh - 222px);
}

.section-spacer {
  padding: 60px 0;
}

.breadcumbs-section {
  background-color: #364e6a;
}

a {
  text-decoration: none !important;
}

.banner-section {
  height: calc(100vh - 110px);
  min-height: 500px;
  width: 100%;
}
@media (max-width: 575px) {
  .banner-section {
    height: auto;
  }
}
.banner-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #364e6a;
  background: radial-gradient(circle, #364e6a 4%, #202739 89%);
}
.banner-section .swiper {
  position: relative;
}
.banner-section .swiper .swiper-slide.item img {
  width: 100% !important;
  max-width: 100% !important;
  max-height: 70vh !important;
  aspect-ratio: 1;
  margin: 8vh 0;
  position: relative;
  left: 0;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 767px) {
  .banner-section .swiper .swiper-slide.item img {
    max-height: 40vh !important;
    height: 70vh;
    margin: 4vh 0;
  }
}
.banner-section .swiper .swiper-slide.item .item-description {
  background-color: #202739;
  position: absolute;
  top: 20%;
  right: 4%;
  left: auto;
  width: 30%;
  display: block;
  color: #ffffff;
}
@media (max-width: 575px) {
  .banner-section .swiper .swiper-slide.item .item-description {
    background-color: rgba(32, 39, 57, 0.7);
    width: 100%;
    right: 0;
    bottom: 0;
    top: auto;
    position: relative;
  }
}
.banner-section .swiper .swiper-button-prev,
.banner-section .swiper .swiper-button-next {
  position: absolute !important;
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  height: 25px;
  width: 25px;
  background-color: #283a4f !important;
  color: #fff;
}
.banner-section .swiper .swiper-button-prev::after,
.banner-section .swiper .swiper-button-next::after {
  font-size: 12px !important;
}
.banner-section .swiper .swiper-button-prev {
  right: 25px;
}
.banner-section .swiper .owl-nav {
  text-align: right;
}
.banner-section .swiper .owl-nav button {
  height: 25px;
  width: 25px;
  background-color: #283a4f !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.banner-section .swiper .owl-nav button span {
  color: #ffffff;
  font-size: 1rem;
}
.banner-section + .bord-section .category-section {
  margin: 10px;
}
.banner-section + .bord-section .category-section .image-container {
  height: 250px;
}
.banner-section + .bord-section .category-section .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-section + .bord-section .category-section p.text-center {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ved-section {
  text-align: center;
  background-color: #283a4f;
  color: #fff;
}

.contact-card {
  background-color: #283a4f;
  color: #fff;
}

.mapDiv {
  width: 100%;
  height: 450px;
}

.product-card {
  padding: 10px;
  margin: 0 25px 15px 25px;
  display: block;
  position: relative;
}
.product-card .image-container {
  position: relative;
  max-width: 100%;
  border: 10px solid #283a4f;
  overflow: hidden;
  max-height: 240px;
}
.product-card .image-container img {
  height: 100%;
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.product-card .image-title {
  text-align: center;
  padding-top: 15px;
  color: #283a4f;
  transition: all 0.3s ease;
}
.product-card:hover {
  box-shadow: 0px 12px 40px 4px rgba(0, 0, 0, 0.25);
}
.product-card:hover img {
  transform: scale(1.2);
}

.about-section .category-section {
  padding: 10px;
  margin: 0 25px 15px 25px;
  display: block;
  position: relative;
}
.about-section .category-section .image-container {
  position: relative;
  max-width: 100%;
  border: 10px solid #283a4f;
  overflow: hidden;
  max-height: 240px;
  height: 240px;
}
.about-section .category-section .image-container img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.about-section .category-section .category-title {
  text-align: center;
  padding-top: 15px;
  color: #283a4f;
  transition: all 0.3s ease;
}
.about-section .category-section:hover {
  box-shadow: 0px 12px 40px 4px rgba(0, 0, 0, 0.25);
}
.about-section .category-section:hover img {
  transform: scale(1.2);
}
