.about-section {
    .category-section {
        padding: 10px;
        margin: 0 25px 15px 25px;
        display: block;
        position: relative;
        .image-container {
            position: relative;
            max-width: 100%;
            border: 10px solid #283a4f;
            overflow: hidden;
            max-height: 240px;
            img {
                height: 100%;
                min-height: 100%;
                max-width: 100%;
                object-fit: cover;
                object-position: center;
                transform: scale(1.1);
                transition: all 0.3s ease;
            }
        }
        .category-title {
            text-align: center;
            padding-top: 15px;
            color: #283a4f;
            transition: all .3s ease;
        }
        &:hover {
            box-shadow: 0px 12px 40px 4px rgb(0 0 0 / 25%);
            img {
                transform: scale(1.2);
            }
        }
    }
}
