.custom-header {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 100%;
        background-color: #283a4f;
    }    
    background-color: transparent;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    @include mediaResponsive (mLg) {
      .font-medium{
        font-size: 15px;
      }
    }
    @include mediaResponsive (lg) {
      background-color: $white;
    }
    &.sticky {
      background-color: $white;
      position: fixed !important;
      box-shadow: -1px 4px 5px 1px rgba(20, 14, 20, 0.11);
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 999;
    }
    .navbar-brand {
      position: relative;
      img {
        max-width: 100%;
        width: 20%;
        @include mediaResponsive (sm) {
          width: 50%;
        }
      }
      @include mediaResponsive(sm) {
        width: 50%;
      }
    }
    .blue-btn {
      min-width: 115px;
    }
    .profile-img{
      height: 35px;
      width: 35px;
      margin-left: 10px;
      border-radius: 50%;
      object-fit: cover;
    }
    .dropdown-toggle{
      &::after{
        content: '';
        background-image: url(../../assets/icons/DownArrow.svg);
        height: 10px;
        width: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: none !important;
        vertical-align: 0;
        font-size: 14px !important;
      }
    }
  
    .dropdown-menu{
      padding: 0;
      border-radius: 0;
    }
  
    .nav-dropdown-link{
      padding: 10px 15px;
      display: block;
      border: none !important;
      border-left: 3px solid transparent !important;
      &:hover{
        color: $black;
        border-left: 3px solid $light-green !important;
        background-color: rgba($color: $light-green, $alpha: .1);
      }
    }
    
    .nav.navbar-nav.login-nav {
      @include mediaResponsive(lg) {
        flex-direction: unset;
        justify-content: center;
      }
    }
  }
  .navbar-expand-lg {
    .nav-item {
        .navbar-nav-link {
            color: $black !important;
        }
      @include mediaResponsive (xl) {
        margin-right: 10px;
        .navbar-nav-link{
          font-size: 14px;
        }
      }
    }
    .navbar-nav {
      .dropdown-menu {
        padding: 2px 2px;
        border-radius: 10px;
        border: 1px solid $grey;
        z-index: 1;
        &::after{
          content: '';
          height: 10px;
          width: 10px;
          border: 1px solid $grey;
          border-bottom-color: transparent;
          border-right-color: transparent;
          position: absolute;
          top: -5px;
          left: 15px;
          transform: rotate(45deg);
          background-color: $white;
          z-index: 2;
          @include mediaResponsive (lg) {
            top: 26px;
          }
          @include mediaResponsive (sm) {
            top: 24px;
          }
        }
        a.dropdown-item{
          border-radius: 10px;
          transition: all .3s ease;
          z-index: 3;
          position: relative;
          color: $black;
          &:hover{
            color: $white;
            background-color: $red;
          }
          &-link{
            padding: .25rem 1rem;
          }
        }
      }
    }
  }
  
  // .navbar-expand-lg .navbar-nav .dropdown-menu {
  //   position: absolute;
  //   right: 0;
  //   left: auto;
  // }